{% extends 'base2.html' %}


{% block title %} Edit {% endblock %}

{% block content %}

<style>
body{
background-color:#D6E4AA;
font-family:montserrat;

}
</style>


<h1 style="margin-top:50px; font-family:roboto; text-align:center;">Edit {{ item['name'] }}</h1>


<div class="card card_create" style="width:500px; height:400px;  margin: auto; background-color:#83B582">
  <div class="container" style="padding:30px;">
     <form method="post">
        <div class="form-group">
          <label for="item_name">Item name</label>
          <input type="text" name="item_name" placeholder="item name" class="form-control" value="{{ item['name'] }}"></input>
        </div>
        <div class="form-group">
          <label for="price_per_unit">Price per unit</label>
          
          <input type="number" class="form-control" name="price_per_unit" placeholder="price per unit" pattern="[0-9]+" value="{{ item['price_per_unit'] }}"></input>
        </div>
        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>


<form  action="{{ url_for('delete', c_id=item['c_id'], id=item['id']) }}" method="POST">
    <input type="submit" value="Delete item"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this item?')">

</form>

</div>
</div>
{% endblock %}

